@font-face{
    font-family:HelveticaBold;
    src:url("../fonts/HelveticaNeueLTCom-Blk_0.ttf");
}
@font-face{
    font-family:RobotoBold;
    src:url("../fonts/ROBOTO-BOLD.ttf");
}
@font-face{
    font-family:Roboto;
    src:url("../fonts/ROBOTO-REGULAR.ttf");
}
@font-face{
    font-family:RobotoMedium;
    src:url("../fonts/ROBOTO-MEDIUM.ttf");
}

/* Header */
.blkheader-hr{
    width:100%;
    height:50px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom:50px; 
}
.blkheader-hr > span > a > img{
    padding: 0px;
    float:left;
    margin-left: 15px;
    margin-top:20px;
}
.header-hr{
    width:100%;
    height:50px;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom:50px;
}

.header-hr > span > a > img{
    padding: 0px;
    float:left;
    margin-left: 15px;
    margin-top:20px;
    border-radius:8px;
    box-shadow: 0 4px 8px 0 rgba(98, 98, 98, 0.05);
}

.header-links{
    float:right;
    margin-right:20px;
}

.header-links > li > a{
    color:black;
    border:1px solid black;
}

.header-links > li > a:hover{
    background-color:#77c0b1;
    text-decoration: none;
    color:white;
}

.header-links > li > a > i{
    margin-right:5px;
}

/* Home Page Heading */
.page-banner{
    background-image: url("../images/Banner_002.png");
    background-color:#77c0b1;
    height:240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media screen and (max-width: 600px){
  .page-heading > h3{
      text-align: center;
      font-family:HelveticaBold;
      color:white;
      margin-top:20px;
      font-size:18px;
      padding:0px 10px;
  }
  .page-heading > p{
      text-align: center;
      font-family: Roboto;
      color:white;
      font-size:14px;
      padding:0px 10px;
  }
}
@media screen and (min-width: 600px){
    .page-heading > h3{
        text-align: center;
        font-family:HelveticaBold;
        color:white;
        margin-top:20px;
    }
    .page-heading > p{
        text-align: center;
        font-family: Roboto;
        color:white;
    }
  }
.row{
    /* display: flex;
    justify-content: center; */
    width:100%;
    margin:auto;
}
.container-fluid{
    padding:0px;
}

/* Home Page Search */
.search-container{
    margin-top:30px;
    display:inline-flex;
    justify-content: center;
}
.search > form{
    justify-content: center;
}
.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
@media screen and (max-width: 600px){
    .search-container > input{
        width:auto;
        border: 1px solid black;
        padding-left:35px;
        padding-right:35px;
        margin-right:10px;
        font-family:Roboto;
    }
    .search-btn{
        width:auto;
        font-family:Roboto;
        background-color:#77c0b1;
        background-image: linear-gradient(135deg, #73a6db,#77c0b1);
    }
}
@media screen and (min-width: 600px){
    .search-container > input{
        width:482px !important;
        border: 1px solid black;
        margin-right:10px;
        font-family:Roboto;
    }
    .search-btn{
        width:120px;
        font-family:Roboto;
        background-color:#77c0b1;
        background-image: linear-gradient(135deg, #73a6db,#77c0b1);
    }
    .search-btn > i{
        margin-right:5px;
    }
}
.search-btn:hover{
    background-color:#77c0b1;
    background-image:none;
    opacity:0.8;
    border-color:#77c0b1;
}
.search-btn:focus{
    background-color:#77c0b1;
    background-image:none;
    border-color:#77c0b1;
}
.search-btn:active{
    background-color:#62a799 !important;
    background-image:none;
    border-color:#62a799;
}
.search-btn:focus-within{
    background-color:#77c0b1;
    background-image:none;
    border:0px;
}
.btn-main{
    width:120px;
    font-family:Roboto;
    background-color:#77c0b1;
    background-image:none;
}
.btn-main:hover{
    background-color:#77c0b1;
    background-image:none;
    opacity:0.8;
    border-color:#77c0b1;
}
.btn-main:focus{
    background-color:#77c0b1;
    background-image:none;
    border-color:#77c0b1;
}
.btn-main:active{
    background-color:#62a799 !important;
    background-image:none;
    border-color:#62a799;
}
.btn-main:focus-within{
    background-color:#77c0b1;
    background-image:none;
    border:0px;
}

/* Home Page Filters */
.filters{
    margin-top:20px;
}
.dropdown > select > option{
    font-family:Roboto;
}
@media screen and (max-width: 600px){
    .filters-container{
        padding:0px;
    }
    .filters{
        padding:0px;
    }
    .dropdown > select{
        border:1px solid black;
        margin-bottom:15px;
        min-width:235px;
        font-family:Roboto;
    }
    .filters > div{
      justify-content:center;
      display:flex;
  }
  .filters > label{
      text-align:center;
      font-weight:bold;
      color:black;
      font-family:Roboto;
  }
}
@media screen and (min-width: 600px){
    .dropdown > select{
        border:1px solid black;
        margin-left:10px;
        width:179px;
        font-family:Roboto;
    }
    .filters > div{
        justify-content:center;
        display:flex;
        /* margin-left:-15px; */
    }
  }
.dropdown > label{
    margin-top:5px;
    font-family:Roboto;
}

/* Home Page Notifications */
.section-header{
    margin-top:50px;
}
.section-header > h6{
    Color:Black;
    font-family: RobotoBold;
    text-align:center;
}
.section-results > p{
    text-align: center;
    font-size: 12px;
    font-family: Roboto;
}
@media screen and (max-width: 600px){
  .notifs-card{
      padding:0px;
      border:0px;
      margin:15px auto;
      max-width:280px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}
@media screen and (min-width: 600px){
    .notifs-card{
        padding:0px;
        border:0px;
        margin:15px;
        min-width: 170px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
.notifs{
    margin-bottom:20px;
}
.notifs-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.notifs-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.notifs-card > img{
    height:130px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border:1px solid #cacaca;
}
.notifs-img-overlay{
    width: 100%;
    height:100%;
}
.card-body{
    padding:0px;
}
/* .card-body > p{
    font-size:14px;
    font-family: helvetica;
    margin-bottom:0px;
    padding:10px;
} */
.card-body > h6{
    color:black;
    font-family: RobotoBold;
    font-size:12px;
    height:42px;
    padding:0px 10px;
    margin-bottom:0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.caption1{
    font-size:12px;
    font-family: Roboto;
    margin-bottom:0px;
    padding:10px 10px 5px 10px;
}
.caption2{
    font-size:12px;
    font-family: Roboto;
    margin-bottom:0px;
    padding:10px;
}
.notification-btn{
    width:95px;
    height:25px;
    font-family:Roboto;
    background-color:#77c0b1;
    background-image:none;
    color:white;
    border:1px solid transparent;
    border-radius:4px;
    padding-top:0px;
    margin-left:-5px;
    margin-top:-10px;
    text-align:center;
    display:inline-block;
}
.notification-btn:hover{
   opacity:0.8;
   text-decoration:none;
   color:white;
   background-color:#77c0b1;
   border:none;
}
.notification-btn:focus{
    background-color:#77c0b1;
    background-image:none;
    border-color:#77c0b1;
}
.notification-btn:active{
    background-color:#62a799 !important;
    background-image:none;
    border-color:#62a799;
}
.notification-btn:focus-within{
    background-color:#77c0b1;
    background-image:none;
    border:0px;
}
.tender-btn{
    width:90px;
    height:25px;
    font-family:Roboto;
    background-color:#73a6db;
    background-image:none;
    color:white;
    border:1px solid transparent;
    border-radius:4px;
    padding-top:0px;
    margin-left:-5px;
    margin-top:-10px;
    text-align:center;
    display:inline-block;
}
.tender-btn:hover{
   opacity:0.8;
   text-decoration:none;
   color:white;
   background-color:#73a6db;
   border:none;
}
.tender-btn:focus{
    background-color:#73a6db;
    background-image:none;
    border-color:#73a6db;
}
.tender-btn:active{
    background-color:#4377ae !important;
    background-image:none;
    border-color:#4377ae;
}
.tender-btn:focus-within{
    background-color:#73a6db;
    background-image:none;
    border:0px;
}
.job-btn{
    width:90px;
    height:25px;
    font-family:Roboto;
    background-color:#f28160;
    background-image:none;
    color:white;
    border:1px solid transparent;
    border-radius:4px;
    padding-top:0px;
    margin-left:-5px;
    margin-top:-10px;
    text-align:center;
    display:inline-block;
}
.job-btn:hover{
   opacity:0.8;
   text-decoration:none;
   color:white;
   background-color:#f28160;
   border:none;
}
.job-btn:focus{
    background-color:#f28160;
    background-image:none;
    border-color:#f28160;
}
.job-btn:active{
    background-color:#b86443 !important;
    background-image:none;
    border-color:#b86443;
}
.job-btn:focus-within{
    background-color:#f28160;
    background-image:none;
    border:0px;
}
.process-btn{
    width:90px;
    height:25px;
    font-family:Roboto;
    background-color:#77b177;
    background-image:none;
    color:white;
    border:1px solid transparent;
    border-radius:4px;
    padding-top:0px;
    margin-left:-5px;
    margin-top:-10px;
    text-align:center;
    display:inline-block;
}
.process-btn:hover{
   opacity:0.8;
   text-decoration:none;
   color:white;
   background-color:#77b177;
   border:none;
}
.process-btn:focus{
    background-color:#77b177;
    background-image:none;
    border-color:#77b177;
}
.process-btn:active{
    background-color:#548854 !important;
    background-image:none;
    border-color:#548854;
}
.process-btn:focus-within{
    background-color:#77b177;
    background-image:none;
    border:0px;
}
.regulation-btn{
    width:90px;
    height:25px;
    font-family:Roboto;
    background-color:#9a94cb;
    background-image:none;
    color:white;
    border:1px solid transparent;
    border-radius:4px;
    padding-top:0px;
    margin-left:-5px;
    margin-top:-10px;
    text-align:center;
    display:inline-block;
}
.regulation-btn:hover{
   opacity:0.8;
   text-decoration:none;
   color:white;
   background-color:#9a94cb;
   border:none;
}
.regulation-btn:focus{
    background-color:#9a94cb;
    background-image:none;
    border-color:#9a94cb;
}
.regulation-btn:active{
    background-color:#7e77b4 !important;
    background-image:none;
    border-color:#7e77b4;
}
.regulation-btn:focus-within{
    background-color:#9a94cb;
    background-image:none;
    border:0px;
}
/* Home Page Pagination */
.custom-pagination{
    margin-top:20px;
    justify-content: center;
}
.custom-pagination .page-item.active .page-link{
    color:white;
    border:1px solid black;
    background-color: #77c0b1;
    box-shadow:none;
}
.custom-pagination > li > a{
    color:black;
    border:1px solid black;
}
.custom-pagination > li > a:hover{
    color:black;
    border:1px solid black;
}
.custom-pagination > li > a:focus{
    color:white;
    border:1px solid black;
    background-color: #77c0b1;
    box-shadow:none;
}

/* Footer */
.custom-footer{
    margin-top:40px;
    padding:0px;
}
.custom-footer > hr{
    border:1px solid #77c0b1;
}
@media screen and (max-width: 600px){
    .footer-content{
        display: flex;
        flex-direction: column;
        margin-top:40px;
    }
  }
  @media screen and (min-width: 600px){
    .footer-content{
        display: flex;
        margin-top:40px;
    }
    .sm-icons{
        margin-left:20px;
    }
  }
.footer-content > div >p{
    font-family: Roboto;
    color:black;
    font-size:14px;
}
.footer-content > div >h6{
    font-family: RobotoBold;
    color:black;
}
.footer-logo{
    height: 50px;
    width: 150px;
}
.footer-title{
    font-family: RobotoMedium !important;
    color:#495057 !important;
    margin-bottom:-2px;
    margin-left:-20px;
}
.footer-title > span{
    margin-right:5px;
    color:#77c0b1;
    width:14px;
}
.sm-icons > a{
    color:#77c0b1;
    font-size:28px;
    margin-right:10px;
}
.sm-icons > a:hover{
    color:#77c0b1;
    font-size:28px;
    opacity: 0.8;
}
.sm-icons > a:visited{
    color:#62a799;
    font-size:28px;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright > p{
    font-family: Roboto;
    color:black;
    font-size: 12px;
    margin-top:30px;
    padding: 0px 10px;
}

/* Login Page */
.login-form{
    margin-top:30px;
    margin-bottom:60px;
}
.login-form > div > label{
    font-family:Roboto;
    color:black;
}
.forgot-pwd{
    float:right;
    font-family:Roboto;
}
.login-register > p > a{
    color:black;
    border:1px solid black;
}

/* Admin Page */
.sidenav {
    height: 1000px;
    width: 300px;
    background-color: white;
    border:1px solid black;
    overflow-x: hidden;
    margin-top:92px;
    margin-left:30px;
  }
  .sidenav a {
    padding: 10px 10px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-bottom:1px solid black;
  }
  .sidenav a:hover {
    color: white;
    background-color:#77c0b1;
  }
  .admin-notifs{
      justify-content: left;
  }
  .admin-card{
      height:220px;
      width:850px;
      margin-top:30px;
      border:1px solid black;
      border-radius:0px;
      display: block ruby;
  }
  .admin-card > div > a > img{
      height:150px;
      width:150px;
      vertical-align: baseline;
      margin-top:20px;
  }
  .admin-card-body{
      padding:15px;
  }
  .admin-card-body > h4{
    font-family: RobotoBold;
    color:black;
    font-size:18px;
}
.admin-card-body > p{
    font-family: Roboto;
    color:black;
}
.btn-accept{
    background-image: none;
    width:100px;
    font-family:Roboto;
}
.btn-reject{
    background-image: none;
    width:100px;
    font-family:Roboto;
}

/* Notification Page */

.notifs-container{
    display:flex;
    justify-content: center;
}
.notifs-page{
    display:inherit;
    margin-bottom:50px;
}
@media screen and (max-width: 800px){
    .notif-embed{
        margin-top:30px;
        margin-bottom:20px;
        height:100vw;
        border:1px solid black;
    }
}
@media screen and (min-width: 800px){
    .notif-embed{
        margin-top:30px;
        margin-bottom:50px;
        border:1px solid black;
    }
}
.notif-details{
    margin-top:30px;
}
.notif-details > label{
    font-family: Roboto;
    color:white;
    font-size:14px;
    background-color: #62a799;
    border-radius:4px;
    padding-left:15px;
    padding-right:15px;
}
.notif-details > h6{
    font-family: RobotoBold;
    color:black;
}
.notif-details > p{
    font-family: Roboto;
    font-size:14px;
}
.p-black{
    font-family: Roboto;
    font-size:14px;
    color:black;
    margin-top:-10px;
}
.notif-details > a{
    color:black;
    border:1px solid black;
    font-family: Roboto;
}
.notif-details > a:hover{
    background-color:#77c0b1;
    text-decoration: none;
    color:white;
}
.notif-details > a > span{
    margin-right:5px;
}
.notif-details > a > span:hover{
    color:white;
}
.notifs-tag{
    color:#62a799;
    background-color:white;
    border:1px solid #77c0b1;
    border-radius: 4px;
    font-size: 12px;
    padding:5px;
    font-weight:bold;
}
.notifs-tag:hover{
    background-color: #eeeeee;
    color:#62a799;
    text-decoration: none;
}

/* Data Entry Page */

.dataentry-form{
    margin-top:30px;
    display: inline-grid;
    justify-content: center;
}
.dataentry-form > div{
    justify-content: left;
    width:500px;
}
.dataentry-form > div > label{
    font-family: Roboto;
    color:black;
    display: inline;
    width: 135px;
}
.dataentry-form > div > input{
    border:1px solid black;
}
.dataentry-form > div > textarea{
    border:1px solid black;
}
.dataentry-form .form-group{
    margin-bottom:15px;
}
.category-dropdown > button{
        border:1px solid black;
        width:200px;
        margin-left:0px;
    }
