@font-face{
    font-family:HelveticaBold;
    src:url("../fonts/HelveticaNeueLTCom-Blk_0.ttf");
}

/* Header */
.header-hr{
    width:100%;
    height:50px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-bottom:50px;
}

.header-hr > span > img{
    background-color: white;
    padding: 0 10px;
    float:left;
    margin-left: 15px;
    margin-top:20px;
}

.header-links{
    float:right;
    margin-right:20px;
}

.header-links > li > a{
    color:black;
    border:1px solid black;
}

.header-links > li > a:hover{
    background-color:#77c0b1;
    text-decoration: none;
    color:white;
}

.header-links > li > a > i{
    margin-right:5px;
}

/* Home Page Heading */
@media screen and (max-width: 600px){
  .page-heading > h3{
      text-align: center;
      font-family:HelveticaBold;
      color:black;
      margin-top:20px;
      font-size:20px;
  }
  .page-heading > p{
      text-align: center;
      font-family: helvetica;
      color:black;
      font-size:14px;
  }
}
@media screen and (min-width: 600px){
    .page-heading > h3{
        text-align: center;
        font-family:HelveticaBold;
        color:black;
        margin-top:20px;
    }
    .page-heading > p{
        text-align: center;
        font-family: helvetica;
        color:black;
    }
  }
.row{
    /* display: flex;
    justify-content: center; */
    width:100%;
    margin:auto;
}
.container-fluid{
    padding:0px;
}

/* Home Page Search */
.search-container{
    margin-top:30px;
    display:inline-flex;
    justify-content: center;
}
.search > form{
    justify-content: center;
}
.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
@media screen and (max-width: 600px){
    .search-container > input{
        width:auto;
        border: 1px solid black;
        padding-left:35px;
        padding-right:35px;
        margin-right:10px;
    }
    .search-btn{
        width:auto;
        background-color:#77c0b1;
        background-image:none;
    }
}
@media screen and (min-width: 600px){
    .search-container > input{
        width:482px !important;
        border: 1px solid black;
        margin-right:10px;
    }
    .search-btn{
        width:120px;
        background-color:#77c0b1;
        background-image:none;
    }
    .search-btn > i{
        margin-right:5px;
    }
}
.search-btn:hover{
    background-color:#77c0b1;
    background-image:none;
    opacity:0.8;
    border-color:#77c0b1;
}
.search-btn:focus{
    background-color:#77c0b1;
    background-image:none;
    border-color:#77c0b1;
}
.search-btn:active{
    background-color:#62a799 !important;
    background-image:none;
    border-color:#62a799;
}
.search-btn:focus-within{
    background-color:#77c0b1;
    background-image:none;
    border:0px;
}
.btn-main{
    width:120px;
    background-color:#77c0b1;
    background-image:none;
}
.btn-main:hover{
    background-color:#77c0b1;
    background-image:none;
    opacity:0.8;
    border-color:#77c0b1;
}
.btn-main:focus{
    background-color:#77c0b1;
    background-image:none;
    border-color:#77c0b1;
}
.btn-main:active{
    background-color:#62a799 !important;
    background-image:none;
    border-color:#62a799;
}
.btn-main:focus-within{
    background-color:#77c0b1;
    background-image:none;
    border:0px;
}

/* Home Page Filters */
.filters{
    margin-top:20px;
}
@media screen and (max-width: 600px){
    .filters-container{
        padding:0px;
    }
    .filters{
        padding:0px;
    }
    .dropdown > select{
        border:1px solid black;
        margin-bottom:15px;
        min-width:235px;
    }
    .filters > div{
      justify-content:center;
      display:flex;
  }
  .filters > label{
      text-align:center;
      font-weight:bold;
      color:black;
  }
}
@media screen and (min-width: 600px){
    .dropdown > select{
        border:1px solid black;
        margin-left:10px;
        width:179px;
    }
    .filters > div{
        justify-content:center;
        display:flex;
        /* margin-left:-15px; */
    }
  }
.dropdown > label{
    margin-top:5px;
}

/* Home Page Notifications */
.section-header{
    margin-top:50px;
}
@media screen and (max-width: 600px){
  .section-header > h6{
      Color:Black;
      font-family: helvetica;
      font-weight: bold;
      text-align:center;
  }
  .notifs-card{
      padding:0px;
      border:0px;
      margin:15px auto;
      max-width:280px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}
@media screen and (min-width: 600px){
    .section-header > h6{
        Color:Black;
        font-family: helvetica;
        font-weight: bold;
        text-align:center;
    }
    .notifs-card{
        padding:0px;
        border:0px;
        margin:15px;
        min-width: 230px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
.notifs{
    margin-bottom:20px;
}
.notifs-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.notifs-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.notifs-card > img{
    height:150px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    border:1px solid #cacaca;
}
.notifs-img-overlay{
    width: 100%;
    height:100%;
}
.card-body{
    padding:0px;
}
/* .card-body > p{
    font-size:14px;
    font-family: helvetica;
    margin-bottom:0px;
    padding:10px;
} */
.card-body > h6{
    color:black;
    font-family: helvetica;
    font-weight: bold;
    font-size:14px;
    height:33px;
    padding:0px 10px;
    margin-bottom:0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.caption1{
    font-size:14px;
    font-family: helvetica;
    margin-bottom:0px;
    padding:10px;
}
.caption2{
    font-size:12px;
    font-family: helvetica;
    margin-bottom:0px;
    padding:10px;
}
/* Home Page Pagination */
.custom-pagination{
    margin-top:20px;
    justify-content: center;
}
.custom-pagination .page-item.active .page-link{
    color:white;
    border:1px solid black;
    background-color: #77c0b1;
    box-shadow:none;
}
.custom-pagination > li > a{
    color:black;
    border:1px solid black;
}
.custom-pagination > li > a:hover{
    color:black;
    border:1px solid black;
}
.custom-pagination > li > a:focus{
    color:white;
    border:1px solid black;
    background-color: #77c0b1;
    box-shadow:none;
}

/* Footer */
.custom-footer{
    margin-top:40px;
    padding:0px;
}
.custom-footer > hr{
    border:1px solid #77c0b1;
}
@media screen and (max-width: 600px){
    .footer-content{
        display: flex;
        flex-direction: column;
        margin-top:40px;
    }
  }
  @media screen and (min-width: 600px){
    .footer-content{
        display: flex;
        margin-top:40px;
    }
    .sm-icons{
        margin-left:20px;
    }
  }
.footer-content > div >p{
    font-family: helvetica;
    color:black;
}
.footer-content > div >h6{
    font-family: helvetica;
    color:black;
    font-weight:bold;
}
.footer-logo{
    height: 50px;
    width: 150px;
}
.sm-icons > a{
    color:#77c0b1;
    font-size:28px;
    margin-right:10px;
}
.sm-icons > a:hover{
    color:#77c0b1;
    font-size:28px;
    opacity: 0.8;
}
.sm-icons > a:visited{
    color:#62a799;
    font-size:28px;
}
.footer-copyright{
    text-align: center;
}
.footer-copyright > p{
    font-family: helvetica;
    color:black;
    font-size: 12px;
    margin-top:30px;
}

/* Login Page */
.login-form{
    margin-top:30px;
    margin-bottom:60px;
}
.login-form > div > label{
    font-family:helvetica;
    color:black;
}
.forgot-pwd{
    float:right;
    font-family:helvetica;
}
.login-register > p > a{
    color:black;
    border:1px solid black;
}

/* Admin Page */
.sidenav {
    height: 1000px;
    width: 300px;
    background-color: white;
    border:1px solid black;
    overflow-x: hidden;
    margin-top:92px;
    margin-left:30px;
  }
  .sidenav a {
    padding: 10px 10px 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    border-bottom:1px solid black;
  }
  .sidenav a:hover {
    color: white;
    background-color:#77c0b1;
  }
  .admin-notifs{
      justify-content: left;
  }
  .admin-card{
      height:220px;
      width:850px;
      margin-top:30px;
      border:1px solid black;
      border-radius:0px;
      display: block ruby;
  }
  .admin-card > div > a > img{
      height:150px;
      width:150px;
      vertical-align: baseline;
      margin-top:20px;
  }
  .admin-card-body{
      padding:15px;
  }
  .admin-card-body > h4{
    font-family: helvetica;
    color:black;
    font-weight: bold;
    font-size:18px;
}
.admin-card-body > p{
    font-family: helvetica;
    color:black;
}
.btn-accept{
    background-image: none;
    width:100px;
}
.btn-reject{
    background-image: none;
    width:100px;
}

/* Notification Page */

.notifs-page{
    display:inherit;
    margin-bottom:50px;
}
.notif-embed{
    margin-top:30px;
    margin-bottom:50px;
    border:1px solid black;
}
.notif-details{
    margin-top:30px;
}
.notif-details > label{
    font-family: helvetica;
    color:white;
    font-size:14px;
    background-color: #62a799;
    border-radius:4px;
    padding-left:15px;
    padding-right:15px;
}
.notif-details > h6{
    font-family: helvetica;
    color:black;
    font-weight:bold;
}
.notif-details > p{
    font-family: helvetica;
    font-size:14px;
}
.p-black{
    font-family: helvetica;
    font-size:14px;
    color:black;
    margin-top:-10px;
}
.notif-details > a{
    color:black;
    border:1px solid black;
}
.notif-details > a:hover{
    background-color:#77c0b1;
    text-decoration: none;
    color:white;
}
.notif-details > a > i{
    margin-right:5px;
}

/* Data Entry Page */

.dataentry-form{
    margin-top:30px;
    display: inline-grid;
    justify-content: center;
}
.dataentry-form > div{
    justify-content: left;
    width:500px;
}
.dataentry-form > div > label{
    font-family: helvetica;
    color:black;
    display: inline;
    width: 135px;
}
.dataentry-form > div > input{
    border:1px solid black;
}
.dataentry-form > div > textarea{
    border:1px solid black;
}
.dataentry-form .form-group{
    margin-bottom:15px;
}
.category-dropdown > button{
        border:1px solid black;
        width:200px;
        margin-left:0px;
    }
